.header {
  background-color: var(--color-white);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px 7px;
  }

  &__logo {
    display: inline-block;
    width: 80px;
    height: 23px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-main);
    }
  }

  &__signin--mobile {
    width: var(--burger-width);
    height: var(--burger-height);
    background: url("../img/sprite.svg#signin") center/cover no-repeat;
  }

  &__btn {
    @include mobile {
      display: none;
    }
  }

  &__start {
    @include site-button;

    margin-left: 26px;
    padding: 13px 50px;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 105px;
    color: var(--color-header-text);
  }

  &__item {
    &:not(:last-child) {
      margin-right: 72px;
    }
  }

  @include mobile {
    display: none;
  }
}

.burger {
  @include burger;
}
