.product {
  position: relative;
  display: flex;
  padding: 127px 15px 196px 60px;

  &__content {
    max-width: 35%;

    @include mobile-medium {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--color-worked-text);
  }

  &__subtitle {
    margin-bottom: 25px;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);

    @include mobile-small {
      font-size: 27px;
    }
  }

  &__description {
    margin-bottom: 31px;
    max-width: 85%;
    font-weight: 400;
    line-height: 145%;
    color: var(--color-hero-text);

    @include mobile-small {
      font-size: 16px;
    }
  }

  &__btn {
    @include site-button;

    padding: 20px 50px;
  }

  @include mobile {
    padding-top: 85px;
    padding-bottom: 65px;
  }

  @include mobile-medium {
    flex-direction: column;
  }

  @include mobile-small {
    padding: 40px 15px 55px;
  }
}

.person {
  margin-right: 85px;

  &__image {
    @include mobile-small {
      margin-bottom: 35px;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 15%;
    border-radius: 4px;
    padding: 23px 60px 30px;
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-white);

    @include mobile-medium {
      left: -5%;
      bottom: -17%;
    }

    @include mobile-small {
      position: initial;
      order: 5;
    }
  }

  &__title {
    display: inline-block;
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 15px;
  }

  & figcaption {
    font-size: 12px;
  }

  &__contents {
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 16px;
  }

  &__list {
    list-style: disc;
    font-size: 11px;
    text-align: left;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include mobile-medium {
    position: relative;
    margin-right: 0;
    margin-bottom: 145px;
  }

  @include mobile-small {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
