.worked {
  padding: 135px 0 123px;
  max-width: 72%;

  &__title {
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--color-worked-text);
  }

  &__description {
    display: flex;
    margin-bottom: 60px;

    @include mobile-medium {
      flex-direction: column;
      margin: 0;
    }
  }

  &__subtitle {
    flex-shrink: 0;
    margin-right: 10%;
    max-width: 585px;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);

    @include mobile-small {
      font-size: 30px;
    }
  }

  &__text {
    margin-top: 25px;
    line-height: 150%;
  }

  @include desktop-small {
    max-width: 85%;
  }

  @include mobile {
    padding: 75px 15px 65px;
    max-width: 100%;
  }
}

.info {
  display: flex;

  &__article {
    position: relative;
    padding-top: 135px;
    max-width: 28%;

    &:not(:last-child) {
      margin-right: 95px;

      @include mobile-768 {
        margin-right: 0;
      }
    }

    &--2 {
      margin-top: 287px;

      @include mobile-medium {
        margin-top: 150px;
      }

      @include mobile-small {
        margin: 0;
      }
    }

    &--3 {
      margin-top: 54px;

      @include mobile-768 {
        margin: 0 auto;
      }
    }

    @include mobile-768 {
      max-width: 47%;
    }

    @include mobile-small {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 61px;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    &--1 {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7%;
        display: block;
        width: 157px;
        height: 225px;
        background: url("../img/sprite.svg#01") no-repeat;
      }
    }

    &--2 {
      text-align: right;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7%;
        display: block;
        width: 157px;
        height: 225px;
        background: url("../img/sprite.svg#02") no-repeat;
      }

      @include mobile-small {
        text-align: center;
      }
    }

    &--3 {
      margin-bottom: 53px;

      &::before {
        content: "";
        position: absolute;
        left: 6%;
        top: 7%;
        display: block;
        width: 157px;
        height: 225px;
        background: url("../img/sprite.svg#03") no-repeat;
      }
    }
  }

  &__description {
    margin-bottom: 38px;
  }

  &__image {
    border-radius: 12px;

    @include mobile-small {
      display: block;
      margin: 0 auto;
    }
  }

  @include mobile-768 {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mobile-small {
    flex-direction: column;
  }
}
