// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #01996d;
  --color-bg-dark: #245852;
  --color-header-text: #292929;
  --color-hero-text: #484848;
  --color-worked-text: #424242;
  --color-bg: #e5e5e5;
}
